<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Jinja?? -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- tag below should prob read block title not block head. but this is what tut wants -->
    {% block head %}{% endblock %}
</head>
<body>
    <h4>This is like backwards from what is intuitive. This is in base.html. The route points to index.html which extends this document...base.html</h4>
    {% block body %} {% endblock %}
</body>
</html>