{% extends 'base.html' %}

{% block head %} 
    <title>Posts</title>
{% endblock %}


{% block body %} 
    <h1>All Posts</h1>
    <hr>
    <h2>Create New Blog Posts:</h2>
    <form action="/posts" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">

        <label for="content">Content:</label>
        <input type="text" name="content" id="content">

        <label for="author">Author:</label>
        <input type="text" name="author" id="author">

        <input type="submit" value="Post">
    </form>
    <hr>
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>

            {% if post.author %}
                <h3>Written By: {{ post.author }}</h3>
            {% else %}
                <h3>Written By: No author available</h3>
            {%endif %}

            <p>{{ post.content }}</p>
        </div>
    {% endfor %}
{% endblock %}